.background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('/background.gif');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    color: white;
  }
  

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleName{
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 6em;
}

.RowClass{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}

.linkToPlanets{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

p {
    text-align: center;
}

@media (max-width: 500px){
    .titleName{
        font-size: 2em;
    }

    .RowClass p{
        font-size: 0.8em;
    }
}