.card{
    height: 38em !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cardBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textStyle{
    text-align: center;
}

.cardImage{
    height: 20em;
}

.blockButtons{
    display: flex;
    justify-content: space-between;
    padding-left: 4em;
    padding-right: 4em;
}

.linkCardButton{
    margin-top: auto;
}

.cardButton{
    border: 1px solid #C14623 !important;
    background-color: #C14623 !important;
    width: 7em;
    color:white !important;
}

.cardButton:hover{
    background-color: white !important;
    color: #C14623 !important;
}

@media (max-width: 992px) {
    .card{
        height: 43em !important;
    }
}

@media (max-width: 767px) {
    .card{
        height: 36em !important;
    }
    .cardImage{
        height: 18em;
    }
}