.card:hover{
    border-color: #C14623;
    transition: 0.3s;
}

.cardImage{
    border-radius: 50%;
}

.cardBody{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.textTitle{
    text-align: center;
}

.blockButtons{
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 10px
}

.linkCardButton{
    margin-top: auto;
}

.cardButton{
    border: 1px solid #C14623 !important;
    background-color: #C14623 !important;
    width: 7em;
    color:white !important;
}

.cardButton:hover{
    background-color: white !important;
    color: #C14623 !important;
}

@media (max-width: 992px) {
    .card{
        height: 43em !important;
    }
}

@media (max-width: 767px) {
    .card{
        height: 36em !important;
    }
    .cardImage{
        height: 18em;
    }
}